<h3 class="mv3 mv4-l">Contact</h3>
<form name="contact" data-netlify="true">
  <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black f5" placeholder="Name*" type="text" name="name" id="name" required>
  <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black f5" placeholder="Email*" type="email" name="email" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
  <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black f5" placeholder="Phone number (optional)" type="tel" name="tel" id="tel" pattern="^\d{3}-\d{3}-\d{4}$">
  <input class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 black f5" placeholder="Company (optional)" type="text" name="company" id="company">
  <textarea class="w-100 pa3 mv2 input-reset ba b--light-gray bg-near-white br2 gray f5 h5" placeholder="Message" name="message" id="message" required></textarea>
  <input class="w-100 pa3 mv4 input-reset br3 bg-green white  ba b--light-gray pointer" type="submit" value="Send">
</form>
